.postWrapper {
  padding: 10px;
}
.postContainer {
  display: flex;
}

.picture {
  width: 300px;
  object-fit: cover;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  gap: 10px;
}

.topWrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.secoundWrapper {
  display: flex;
  align-items: flex-start;
}
.bottomInfoWrapper {
  display: flex;

}
.botWrapper {
  display: flex;
  justify-content: space-between;
}
.title {
  font-family: "Cormorant", serif;
  font-size: 2rem;
  font-weight: 500;
  color: #dc143c;
}
.date {
  font-size: 0.75rem;
  font-weight: bold;
  color: #c0c0c0;
}
.helperText {
  font-size: 0.75rem;
  color: #c0c0c0;
  font-weight: bold;
}
.user {
  font-size: 1rem;
  font-weight: bold;
  color: #2f4f4f;
}
.paragraph {
  text-indent: 30px;
  line-height: 1.3;
  display: flex;
  height: 100%;
}

.commentCountContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.commentIcon {
  width: 20px;
}
.commentCount {
  font-size: 1rem;
  font-weight: 500;
}

.buttonDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  transition: background-color 0.2s;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.iconDelete {
  width: 18px;
  transition: width 0.25s;
  &:hover {
    width: 22px;
  }
}