.commentContainer {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
  padding: 10px;
}

.userPicture {
  width: 50px;
  border-radius: 50%;
  background-color: grey;
  border: 1px solid #bdc3c7;
  align-self: flex-start;
}

.commentWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commentInfoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.paragraph {
  text-indent: 30px;
  line-height: 1.3;
}
.helperText {
  font-size: 0.75rem;
  color: #c0c0c0;
  font-weight: bold;
}
.user {
  padding-left: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #2f4f4f;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  transition: background-color 0.2s;
  cursor: pointer;
}
.iconDelete {
  width: 15px;
  transition: width 0.25s;
  &:hover {
    width: 18px;
  }
}

.buttonEdit {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.75rem;
  transition: font-size 0.25s;
  &:hover {
    font-size: 0.9rem;
  }
}
.buttonWrapper {
  position: relative;
  height: 20px;
}
.button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  padding: 2px 4px;
  border-radius: 10px;
  border: 1px solid gray;
  transition: margin-top 0.25s, margin-right 0.2s, background-color 0.2s;
  &:hover {
    text-decoration: underline;
    margin-top: 2px;
    margin-right: 2px;
    background-color: lightblue;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form {
  display: flex;
  flex-direction: row;
}
.inputField {
  box-sizing: border-box;
  margin-bottom: 2px;
  margin-right: 2px;
  border: 1px solid;
  border-radius: 2px;

  &:focus {
    box-shadow: 0px 0px 5px 5px #e4e4e4;
    outline: none;
    border: 1px solid;
  }
}
