:root {
  font-size: 16px;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  margin: 20px;
  width: calc(80vw);
  max-width: 1200px;
  min-width: 320px;
  box-shadow: 5px 5px 100px 20px rgb(160, 160, 160);
  border-radius: 30px;
  padding-bottom: 30px;
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 30px;
  background-color: rgb(247, 247, 247);
  height: 60px;
  border-radius: 20px 20px 0px 0px;
}
.nav__item {
  text-decoration: none;
  color: grey;
  font-size: 1.25rem;
  font-weight: 500;
  transition: font-size 0.2s, font-weight 0.2s, text-decoration 0.2s;

  &.active {
    color: black;
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.pageSelection {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.button__add-Post {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid black;
  background-color: #9acd32;
  cursor: pointer;
  transition: margin-top 0.2s, margin-top 0.2s, box-shadow 0.2s,
    background-color 0.2s;

  &:hover {
    box-shadow: 0px 0px 3px 3px #dcdcdc;
    margin-top: 1px;
    margin-right: 1px;
    background-color: #afe643;
  }
}

.home__page {
  padding: 20px;
  display: flex;
  justify-content: center;
}